@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
p
{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #A9A9A9;
}
p a
{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #A9A9A9;
    margin-left: 0.3rem;
}